@model SuppliChain.Models.LoginModel;
@{
    ViewData["Title"] = "Login";
    @* Layout = null; *@
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    @if (Model != null && Model.ErrorName != "")
    {
        <div class="alert alert-info mx-auto" style="width: 35vw">
            @Model.ErrorName
        </div>
        Model.ErrorName = "";
    }

    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <label for="username">Username:</label>
        <input class="form-control text-center mx-auto" style="width: 35vw" type="text" name="username"
            placeholder="Username" />
        <label for="password">Password:</label>
        <input class="form-control text-center mx-auto" style="width: 35vw" type="password" name="password"
            placeholder="Password" />
        <button class="btn btn-primary" type="submit" name="action" value="Login">Login</button>
        <button class="btn btn-primary" style="margin: 5px;" type="submit" name="action" value="Register">Register</button>
    }

</div>
